
          
            table
            {
                background-color: rgb(233, 10, 196); 
                color:white;
                text-align:center; 
                text-shadow: papayawhip 2px;
                margin-left:auto;
                margin-right:auto;
                border: 5px dotted blueviolet;
                border-radius: 10px;
            }
            td, th
            body
            {
                font-family: monospace;
            }
            /* Formatação do titulo do meu site */
            h1
            {
                text-align: center;
                color: rgb(25, 8, 179);
                font-family: serif;
            }
    